@import "./core/reset";

html {
    border: 6px solid;
    max-width: 100%;
    scroll-behavior: smooth;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, #f7c9c9, #fa709a 70%);
    border-image-source: linear-gradient(90deg, rgb(86, 197, 177), rgba(109, 106, 106, 0.5) 20%);
}
