.header {
    &--title {
        font-size: 11px;
        color: rgb(86, 197, 177);
        text-transform: uppercase;
        font-weight: 800;
        margin-left: 20px;
        @media all and (min-width: 768px) {
            font-size: 18px;
        }
    }
    &--nav {
        background-color: black;
        height: 100%;
        width: auto;
        padding: 10px 0 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__ul {
            margin-right: 10px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
    }
    &--link {
        font-size: 11px;
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        font-weight: 800;
        margin-right: 30px;
        opacity: 0.6;
        padding-bottom: 5px;
        @media all and (min-width: 768px) {
            font-size: 18px;
        }
    }
}