.projects {
        min-height: 80vh;
        width: 100%;
    &--list{
        max-height: calc(100vh - 132px);
        padding: 50px;
        margin-top: 132px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 250px));
        grid-template-columns: 1fr;
        justify-content: center;
        justify-items: center;
        @media all and (min-width: 768px) {
                grid-template-columns: 1fr 1fr;
        }
        @media all and (min-width: 1024px) {
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        }
    } 
}
